<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring Boot com thymeleaf, Bootstrap e JQuery</title>

    <!-- Adicionando Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <div class="container">
        <h1>Acessar Formulário</h1>
        <br /> 
        <div class="row" style="padding-bottom: 30px;">
            <div class="col">
                <a th:href="@{/novo}" class="btn btn-primary">NOVO ESTUDANTE</a>
            </div>
        </div>

        <div class="row">
          <div class="col-sm-5">
            <h3>Pesquisar Estudante</h3>
            <form th:action="@{/buscar}" method="post">
              <div class="input-group">
                <input type="text" class="form-control" name="nome" /> <input
                  class="btn btn-primary" type="submit" value="Buscar" /> 
                <a th:href="@{/}" class="btn btn-danger" type="submit">Cancelar </a>
              </div>
            </form>
          </div>
        </div>
    

        <br />

        <hr width="100%">

        <br />

        <h1>Lista de Estudantes</h1>

        <br />
        
        <div class="row" style="padding-bottom: 30px;">

          <div class="alert alert-danger alert-dismissible fade show" th:if="${mensagem}">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <span th:text="${mensagem}"></span>
				  </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Deletar</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr th:if="${listarEstudantes.empty}">
                <td colspan="3">Não existe estudantes</td>
              </tr>

              <tr th:each="estudante : ${listarEstudantes}">
                <td><span th:text="${estudante.id}"></span></td>
                <td><span th:text="${estudante.nome}"></span></td>
                <td><span th:text="${estudante.idade}"></span></td>
                <td><a th:href="@{/apagar/{id}(id=${estudante.id})}" th:data-confirm-delete="|Você gostaria de apagar ${estudante.nome}?|"
                  th:onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false" class="btn btn-outline-danger">DELETAR
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                  </svg>
                </a></td>
                <td><a th:href="@{/editar/{id}(id=${estudante.id})}" class="btn btn-success">EDITAR
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                  </svg>
                </a></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

    <!-- Adicionando Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>












